<div class="table-wrapper">
  <table class="list alternating"> 
    <thead>
      <tr>
        <th>When</th>
        <th>User</th>
        <th>Referer → Current Path</th>
        <th>Custom</th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |a|%>
        <tr>
          <% a = a.first if a.is_a? Array%>
          <td><%=time_ago_in_words(Time.zone.parse(a[:time])) if a[:time]%></td>
          <td><%=link_to a[:user], activity_path(CGI.escape(a[:user]).gsub(/[\ .]+/, "%20")) if a[:user]%></td>
          <td><%=a[:referer]%> <strong>→ <%=a[:current_url]%></strong></td>
          <td>
            <%if a[:custom]%>
              <ul>
              <%a[:custom].each do |key, val|%>
                <li><strong><%=key%>:</strong> <%=val%></li>
              <%end%>
              </ul>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>