<h1><%= link_to "←", activities_path%> <%=@user%></h1>
<div class="clearfix" style="padding: 20px">
  <%= image_tag "http://api.hostip.info/flag.php?ip=#{@properties["ip"]}", :class=>"pull-left"%>
  <div id="geo" class="pull-left" style="padding-left: 20px">
    <%=@properties[:location].gsub(/\n/, "<br/>").html_safe%>
  </div>
</div>
<div class="table-wrapper">
  <table class="list alternating"> 
    <thead>
      <tr>
        <th>When</th>
        <th>Referer → Current Path</th>
        <th>Custom</th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |a|%>
        <tr>
          <td><%=time_ago_in_words(Time.zone.parse(a[:time])) if a[:time]%></td>
          <td><%=a[:referer]%> <strong>→ <%=a[:current_url]%></strong></td>
          <td>
            <%if a[:custom]%>
              <ul>
              <%a[:custom].each do |key, val|%>
                <li><strong><%=key%>:</strong> <%=val%></li>
              <%end%>
              </ul>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>